body {
    background: #051D3B;
    display: block;
}

.container-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em 0 0 0;
}

.imagem-logo {
    width: 250px;
    height: 80px;

}

.botao-input {
    width: 752px;
    height: 56px;
    color: #FFFFFF;
    text-indent: 10px;
    background-color: rgba(255, 255, 255, 0.16);
    text-align: left;
    border-radius: 8px;
}

.foto-perfil {
    width: 150px;
    height: 80px;
}

.nav-opcoes {
    display: column;
}

main {
    display: block;
}

.principal {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-areas:
        "nav-opcoes"
        "menu-nav"
        "article-projeto input-article1";
    column-gap: auto;
    grid-column: 3;
}

.menu-nav {
    color: #FFFFFF;
}

.menu-nav li {
    color: #FFFFFF;
    font-weight: bold;
    margin: 10px 0 10px 10px;
    padding: 1em;
}

.menu-nav i {
    margin-right: 10px;
}

.menu-nav img {
    margin-left: 15px;
    padding: 64px 0 0 0;
}

.menu-nav a {
    color: #FFFFFF;
    text-decoration: none;
}


.article-codigo {
    display: column;
}

.article-codigo a {
    color: #FFFFFF;
}

.input-highlight {
    width: 600px;
    height: 56px;
    color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.16);
    text-align: center;
    border-radius: 5px;
}

.article-projeto img {
    padding: 64px 0 10px 0;
    display: flex;
}

.input-article1 {
    width: 252px;
    height: 56px;
    gap: 8px;
    color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.16);
    text-align: left;
    border-radius: 8px;
}